* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;

  /* Hiding the vertical(y) & the horizatoal(x) scrollbar */
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  
  /* CSS Smooth Scroll */
  overflow-y: scroll; /* Showing only horizaontal scrollbar */
  scroll-behavior: smooth; /* This is the actual magic of the smooth-scroll */
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  /* Setting NavBar to be always on the top of the page */
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;

  /* Demolishing '.' in list */
  list-style: none;

  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #f4f4f4;

  /* Setting Text on the NavBar to Capital Letters */
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;

  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: url("https://source.unsplash.com/J5yoGZLdpSI/1600x900") 
    no-repeat center center/cover;
}

section#about {
  background: url("https://source.unsplash.com/4hbJ-eymZ1o/1600x900") 
    no-repeat center center/cover;
}

section#service {
  background: url("https://source.unsplash.com/D7Q6JpFleK8/1600x900") 
    no-repeat center center/cover;
}

section#contact {
  background: url("https://source.unsplash.com/IuLgi9PWETU/1600x900") 
    no-repeat center center/cover;
}
